<% layout('/layouts/boilerplate') -%>
    <div class="m-5">
      <h1 class="fw-bold">ライブサーバー</h1>
      <form action="/home" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">タイトル</label>
          <input
            type="text"
            class="form-control"
            name="content[title]"
            id="title"
          />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">場所</label>
          <input
            type="text"
            class="form-control"
            name="content[location]"
            id="location"
          />
        </div>
        <button class="btn btn-primary">更新する</button>
      </form>
    </div>
